body {
  background-color: #ffffff;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Raleway", sans-serif;
}

header {
  width: 100%;
  color: #d9dadb;
}
header .nav {
  background-color: #0b0c10;
  width: 100%;
}
header .nav ul {
  margin-top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 5rem;
  list-style: none;
  padding-bottom: 1.5rem;
}
header .nav ul li {
  width: auto;
  height: 2rem;
  border-radius: 0;
  background-color: white;
  margin: 20px;
  transition: 0.3s all ease-in-out;
  display: flex;
  position: relative;
  background-color: #0b0c10;
}
header .nav ul li :hover {
  background: #45a29e;
  box-shadow: none;
  color: white;
  transition: 0.3s all ease-in-out;
  -webkit-animation: shadow-pop-bl 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: shadow-pop-bl 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
header .nav ul li a {
  text-decoration: none;
  color: #20323e;
  background-color: #45a29e;
  text-align: center;
  border: 5px solid #45a29e;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
header .bighead {
  padding: 7.5rem;
  background: linear-gradient(#1d474d, #0b0c10);
}
header .bighead .txtcontainer {
  max-width: 50%;
}

.main {
  margin: 10rem;
}
.main .containerContainer {
  margin: 10rem;
  padding: 2rem;
  background: #c5c6c7;
}
.main .containerContainer .itemContainer {
  background: #1a313a;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.main .containerContainer .itemContainer .item {
  width: 20%;
  min-width: 190px;
  margin: 2rem;
  background: linear-gradient(360deg, #45a29e 0%, #3c7085);
}
.main .containerContainer .itemContainer .item p {
  font-size: 0.8rem;
}
.main .containerContainer .itemContainer .item .itemFooter {
  display: flex;
  justify-content: space-around;
  border-top: 0.1rem solid #3c7085;
}
.main .containerContainer .itemContainer .item .itemFooter a {
  width: 50%;
  text-align: center;
  border-right: 0.1rem solid #3c7085;
}
.main .containerContainer .itemContainer .item .itemFooter a :last-of-type {
  border-right-width: 0;
}
.main .containerContainer .itemContainer .item .itemFooter a i {
  margin: 0.5rem;
  font-size: 2rem;
  border: none !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(#1d474d, #0b0c10);
}

@-webkit-keyframes shadow-pop-bl {
  0% {
    box-shadow: 0 0 #c5c6c7, 0 0 #c5c6c7, 0 0 #c5c6c7, 0 0 #c5c6c7, 0 0 #c5c6c7, 0 0 #c5c6c7, 0 0 #c5c6c7, 0 0 #c5c6c7;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: -1px 1px #c5c6c7, -2px 2px #c5c6c7, -3px 3px #c5c6c7, -4px 4px #c5c6c7, -5px 5px #c5c6c7, -6px 6px #c5c6c7, -7px 7px #c5c6c7, -8px 8px #c5c6c7;
    -webkit-transform: translateX(8px) translateY(-8px);
    transform: translateX(8px) translateY(-8px);
  }
}
@keyframes shadow-pop-bl {
  0% {
    box-shadow: 0 0 #c5c6c7, 0 0 #c5c6c7, 0 0 #c5c6c7, 0 0 #c5c6c7, 0 0 #c5c6c7, 0 0 #c5c6c7, 0 0 #c5c6c7, 0 0 #c5c6c7;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: -1px 1px #c5c6c7, -2px 2px #c5c6c7, -3px 3px #c5c6c7, -4px 4px #c5c6c7, -5px 5px #c5c6c7, -6px 6px #c5c6c7, -7px 7px #c5c6c7, -8px 8px #c5c6c7;
    -webkit-transform: translateX(8px) translateY(-8px);
    transform: translateX(8px) translateY(-8px);
  }
}

/*# sourceMappingURL=style.css.map */
