@mixin createBox($width, $height, $bRadius, $bgColor, $margin){
  width: $width;
  height: $height;
  border-radius: $bRadius;
  background-color: $bgColor;
  margin: $margin;
  transition: .3s all ease-in-out;
}

body{

  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
  a{
    text-decoration: none;
  }
}
h1{
  font-family: 'Montserrat', sans-serif;
}
h2{
  font-family: 'Raleway', sans-serif;
}
.subtxt{
  font-style: italic;
  font-size: 0.8rem;
}
.kop{
  border-bottom: 0.2rem solid black;
  padding-bottom: 2rem;
  text-align: left;
  padding-left: 5rem;
}

header {
  width: 100%;
  color: #d8dabd;
  background: #5d9b84;


  .nav {
    background-color: #5d9b84;
    width: 100%;
    overflow: hidden;

    ul {
      margin: 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      height: 5rem;
      list-style: none;
      padding-bottom: 1.5rem;

      li {
        @include createBox(auto, 2rem, 0.5rem, #5d9b84, 20px);
        display: flex;
        position: relative;

        :hover {
          background: #4c364d;
          border: 5px solid #4c364d;
          box-shadow: none;
          color: white;
          transition: .3s all ease-in-out;
          -webkit-animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
          animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
        }

        a {
          text-decoration: none;
          color: #20323e;
          background-color: #5d9b84;
          text-align: center;
          border: 5px solid #5d9b84;
          padding: 1.5rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
        }
      }
    }
  }

  .bighead {
    padding: 7.5rem 7.5rem 0;
    margin-bottom: 5rem;
    background: linear-gradient(#41354d, #537479, #5d9b84);

    .txtcontainer{
      max-width: 50%;
    }
  }
}

.main{
  margin: 0;
  padding-top: 5rem;


  .containerContainer{
    margin: 0 5% 5%;
    padding: 2rem;
    background: transparent;
    text-align: center;

    .itemContainer{
      //background: #5b9aa0;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;

      .item{
        width: 20%;
        min-width: 19rem;
        margin: 2rem;
        border-radius: 1rem;
        border: none;
        background-color: #96ceb4;
        :first-child{
          background: transparent;
        }

        p{
          font-size: 0.8rem;
          text-align: left;
        }
        h2, p{
          padding:0.5rem 2rem 2rem;
        }
        .itemFooter {
          display: flex;
          justify-content: space-around;
          border-top: 0.1rem solid #3c7085;
          :first-child{
            border-right: 0.1rem solid #3c7085;
          }

          a{
            text-decoration: none;
            width: 50%;
            text-align: center;

            i {
              color: #41354d;
              margin: 0.5rem;
              font-size: 2rem;
              border: none !important;
            }
          }
        }
      }
    }
  }
}

.footer{
  background: #3c7085;
  margin: 0;
  padding: 1rem;
  :last-child{
    float: right;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: transparent;
}

.sticky +.main{
  padding-top: 5rem;
}

@-webkit-keyframes shadow-pop-bl {
  0% {
    box-shadow:
            0 0 #474b4f,
            0 0 #474b4f,
            0 0 #474b4f,
            0 0 #474b4f,
            0 0 #474b4f,
            0 0 #474b4f,
            0 0 #474b4f,
            0 0 #474b4f;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow:
            -1px 1px #1c2e28,
            -2px 2px #324e48,
            -3px 3px #2c5545,
            -4px 4px #305849,
            -5px 5px #41685c,
            -6px 6px #3e6e5b,
            -7px 7px #3f7761,
            -8px 8px #4e8a73;    -webkit-transform: translateX(8px) translateY(-8px);
    transform: translateX(8px) translateY(-8px);
  }
}
@keyframes shadow-pop-bl {
  0% {
    box-shadow:
            0 0 #474b4f,
            0 0 #474b4f,
            0 0 #474b4f,
            0 0 #474b4f,
            0 0 #474b4f,
            0 0 #474b4f,
            0 0 #474b4f,
            0 0 #474b4f;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow:
            -1px 1px #1c2e28,
            -2px 2px #324e48,
            -3px 3px #2c5545,
            -4px 4px #305849,
            -5px 5px #41685c,
            -6px 6px #3e6e5b,
            -7px 7px #3f7761,
            -8px 8px #4e8a73;
    -webkit-transform: translateX(8px) translateY(-8px);
    transform: translateX(8px) translateY(-8px);
  }
}
